.profile {
    height: 100vh;
    color: white;
}

.profile__body {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    max-width: 800px;
    text-align: left;
}

.profile__info {
    display: flex;
}

.profile__details {
    color: white;
    margin-left: 25px;
    flex: 1;
    /* text-align: center; */
}

.profile__details>h2 {
    background-color: gray;
    padding: 15px;
    font-size: 15px;
    padding-left: 20px;
    text-align: center;
}

.profile__info>img {
    height: 100px;
}

.profile__plans {
    margin-top: 20px;
}

.profile__plans>h3 {
    /* border-bottom: 1px solid #282c2d; */
    padding-bottom: 10px;
}

.profile__plans>h2 {
    text-align: right;
}

.profile__signOut {
    padding: 10px 20px;
    font-size: 1rem;
    margin-top: 3%;
    width: 100%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.2s;
}

.profile__signOut:hover {
    background-color: rgba(230, 10, 21, 0.74)
}

.profile__body>h1 {
    font-size: 60px;
    font-weight: 400;
    border-bottom: 1px solid #282c2d;
    margin-bottom: 20px;
}

.profile__info>img {
    height: 100px;
}

.gray {
    background-color: gray;
    transition: all 0.2s;
}

.gray:hover {
    background-color: rgba(128, 128, 128, 0.67) !important;
}